/* =============
    Section 3
============= */

#section-3{

    aside{
        margin-top: 55px;
        background-image: url('../img/section-3/hero2.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 57.6536312849162vh;

        @include lg{
            height: 76.20111731843575vh;
        } 
    }

    #section-3-container{ 
        display: grid;
        grid-template-columns: 15px auto 15px;
        grid-template-areas: ". section-3 ."
    }
     

        #section-3-content{
            margin-top: 67px;
            margin-bottom: 67px;
            grid-area: section-3;
            text-align: center;
            color: $gold;

            hr{
                border-color: $light-gray
            }
        }
}