/* =============
    Section 3
============= */

#section-3{

    aside{
        margin-top: 55px;
        background-image: url('../img/section-3/hero2.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 57.6536312849162vh;

        @include lg{
            height: 76.20111731843575vh;
        } 
    }

    #section-3-container{ 
        display: grid;
        grid-template-columns: 15px auto 15px;
        grid-template-areas: ". section-3 ."
    }
     

        #section-3-content{
            margin: 10% auto;
            grid-area: section-3;
            text-align: center;
            color: $gold;

            h2{
                font-size: rem-calc(21) ;

                @include md{
                    font-size: rem-calc(33) 
                }
                @include lg{
                    font-size: rem-calc(52) 
                }
                @include xl{
                    font-size: rem-calc(52) 
                }
            }

            hr{
                height: 2px;
                background-color: $light-gray;
                border: none;
               
            }

            @include lg{
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
}