/* =============
    Footer
============= */

footer{
    margin-top: 51px;
    background-color: $tan;
    height: 59px;
    display: grid;
    align-items: center;
    grid-template-columns: 5% auto 5%;
    grid-template-areas: ". logo copyright";

    #logo{
        grid-area: logo;
    }

    #copyright{
        grid-area: copyright;
    }

    @include md{
        grid-template-columns: 20% auto 20%;
    }

    @include lg{
        grid-template-columns: 30% auto 30%;
    }

    @include xl{
        grid-template-columns: 40% auto 40%;
    }

}